.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 20rem;
  width: 30rem;
  padding: 1rem 2rem;
  text-align: center;
  background-color: hsl(217, 19%, 24%);
  position: relative;
  border-radius: 1rem;
  box-shadow: 2px 5px 30px rgba(0, 0, 0, 0.07);
}

.adviceNumber {
  margin: 1rem 0;
  font-weight: 400;
  font-size: 0.6rem;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: hsl(150, 100%, 66%);
}

h2 {
  margin: 0;
}

.advice {
  color: hsl(193, 38%, 86%);
  font-weight: 800;
  font-size: 25px;
  margin-bottom: 1rem;
}

.divider {
  position: absolute;
  bottom: 4rem;
}

.desktopSvg {
  display: block;
}

.mobileSvg {
  display: none;
}

button {
  position: absolute;
  bottom: -2rem;
  left: 45%;
  padding: 1rem;
  border-radius: 50%;
  outline: none;
  border: none;
  background-color: hsl(150, 100%, 66%);
  cursor: pointer;
  z-index: 10;
}

button:hover {
  box-shadow: 1px 1px 40px hsla(150, 100%, 66%, 0.521);
}

@media screen and (max-width: 560px) {
  .container {
    width: 80%;
  }
  .desktopSvg {
    display: none;
  }
  .mobileSvg {
    display: block;
  }
}
