@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

body {
  background-image: url("../assets/bg-desktop-dark.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: hsl(235, 21%, 11%);
  display: grid;
  place-items: center;
  font-size: 18px;
  font-weight: 400;
}

img {
  max-width: 100%;
  display: block;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  color: hsl(234, 11%, 52%);
}

input {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 3px;
  font-size: inherit;
  background-color: transparent;
  color: hsl(234, 39%, 85%);
}

h1 {
  letter-spacing: 0.4em;
  color: hsl(234, 39%, 85%);
}

.app {
  width: 30rem;
}

.header {
  margin: 4rem 0;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todoInput {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem;
  margin-bottom: 2rem;
  background-color: hsl(235, 24%, 19%);
}

.todoInput button {
  cursor: initial;
}

.todoContainer {
  border-radius: 3px;
  background-color: hsl(235, 24%, 19%);
}

.todo {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem;
  border-bottom: 1px solid hsl(237, 14%, 26%);
  color: hsl(234, 39%, 85%);
}

.todo:hover {
  color: hsl(236, 33%, 92%);
}

.todoFooter {
  display: flex;
  padding: 1.5rem;
  justify-content: space-between;
  color: hsl(234, 11%, 52%);
}

.buttons {
  display: flex;
  gap: 1rem;
}

.completedTodo {
  text-decoration: line-through;
  color: hsl(237, 14%, 26%);
}

.activeFilter {
  color: hsl(220, 98%, 61%);
}

.checkBtn {
  border: 1px solid hsl(237, 14%, 26%);
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  position: relative;
}

.checkBtn img {
  position: absolute;
  left: 4px;
  bottom: 5px;
}

.deleteBtn {
  margin-left: auto;
}

.completedIcon {
  background-image: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}
